# ─── DB ────────────────────────────────────────────────────────
TZ=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# ─── MinIO ─────────────────────────────────────────────────────
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_DEFAULT_BUCKETS=

# ─── RabbitMQ ──────────────────────────────────────────────────
REDIS_HOST=
REDIS_PORT=
FIREBASE_CREDENTIAL_PATH=
